.v-top-parent > *, .v-top
{
	vertical-align: top;
}
.v-mid-parent > *, .v-mid
{
	vertical-align: middle;
}
.v-bot-parent > *, .v-bot
{
	vertical-align: bottom;
}
.div-table
{
	display:table;
	width:100%;
}
	.div-table > *
	{
		display:table-cell;
	}
	.div-table.div-table-collapse
	{
		font-size:0px;
	}
	.div-table.div-table-collapse > *
	{
		font-size:1em;
	}
	.div-table > .fit-content {
		width: 1%; 
		white-space:nowrap;
	}
.div-table-rows
{
	display:table;
	width:100%;
}
	.div-table-rows > *
	{
		display:table-row;
	}
.div-inline
{
}
	.div-inline > *
	{
		display:inline-block;
	}
.div-img
{
	position:relative;
}
	.div-img  > img
	{
		width:100%;
	}
.bold
{
	font-weight:bold;
}
.italic
{
	font-style:italic;
}
.underline
{
	text-decoration:underline;
}
.strikethrough
{
	text-decoration:line-through;
}
.upper
{
	text-transform:uppercase;
}
a.text-style
{
	color:inherit;
	text-decoration:none;
}
a.text-style-color
{
	text-decoration:none;
}
a.text-style-underline
{
	color:inherit;
}
.no-select
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
.favicon
{
	height:20px;
}
textarea
{
	resize:vertical;
	min-height:100px;
}

form .form-field label
{
	float:left;
	min-width:200px;
}
.hidden0
{
	display:none;
}
.hidden2
{
	visibility:hidden;
}
.must-visible
{
	display:block !important;
}

.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
.text-white:hover
{
	color:#fff;
}
[hidden]{
	display:none !important;
}